
.home{
	background: #f4f4f4;
	padding: 7em;
	position: fixed;
	min-height: 100%;
	height: 100%;
}
.home p{
	font-family: "Raleway";
	font-size: 20px;
	color:#666;
}
.home img{
	    width: 34em;
    height: 28em;
	object-fit: cover;
}
.social-media h4{
font-family: "Raleway";
color:#888;	
}
.social-media a{
	margin-left: 1em;
}
@media(max-width: 768px){
	.home{
		padding: 1em;
	}
}