<div class="home">
<div class="container">
	<div class="row">
		<div class="col g7 m7 s12">
			<h1>Said Hayani</h1>
			<p> Web Developer specializing in Front End UI and Back End ,Experience manager in all stages of the development cycle for dynamic web projects, JavaScript enthusiast and AngularJs Vue.js Lover :) .
           available for #Freelance Job ContactMe : hayanisaid1995@gmail.com</p>
           <div class="social-media">
           <h4>Meet me on Social Media</h4>
           	<a href="" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
           	<a href="" target="_blank"><i class="fa fa-github fa-3x"></i></a>
           	<a href="" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
           	<a href="" target="_blank"><i class="fa fa-medium fa-3x"></i></a>
           </div>
		</div>
		<div class="col g5 m5 s12">
			<img src="../assets/images/mini.png" class="responsive-img" alt="Said Hayani">
		</div>
	</div>
</div>	
</div>
